*{ 
    box-sizing: border-box;
}    
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #224285;
}

h2 {
    font-family: 'RobotoCondensed Bold', sans-serif;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
}

h3 {
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 24px;
    line-height: 36px;
}

.container {
    max-width: 1374px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 35px;

    @media (max-width: 770px) {
        padding: 0 25px;
    }
}

.navigation {
    display: flex;
    list-style-type: none;
    
    .navigation__link {
        text-decoration: none;
        font-family: 'RobotoCondensed Medium', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #121214;
        text-transform: uppercase;
        margin-right: 32px;
    }
}

.btn {
    border: none;
    border-radius: 42px;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    line-height: 8px;
    color: #FFFFFF;
    width: 250px;
    height: 72px;
    background-color: #FF8400;
    transition: background-color .2s ease-in;

    &:hover {
        background-color: #F47D0E;
    }
}
.box {
    width: 72px;
    height: 72px;
    background-color: #224285;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        text-align: center;
    }

    &__digits {
        font-family: 'RobotoCondensed Black', sans-serif;
        font-size: 24px;
        line-height: 36px;
    }

    &__units {
        font-family: 'RobotoCondensed Medium', sans-serif;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
    }
}

.object-name {
    font-family: 'RobotoCondensed Medium', sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #FF8400;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.gray {
    color: #BBBBBB;
}

.burg {
    display: none;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF8400;
    background-image: url(../images/hamb.svg);
    background-repeat: no-repeat;
    background-size: 12px 4px;
    background-position: center center;
    cursor: pointer;

    @media (max-width: 1140px) {
        display: block;
    }
}

.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 240;
    background-color: #224285;
    transform: translateX(100%);
    visibility: hidden;
    transition: 0.4s;
    pointer-events: none;


    &__box {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        padding-right: 16px;
    }

    &__nav {
        margin-top: 170px;
        text-align: right;
    }

    &__nav li {
        padding-bottom: 28px;
    }

    &__link {
        text-decoration: none;
        font-family: 'RobotoCondensed Medium', sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 124px;
    }

    &__order {
        text-decoration: none;
        font-family: 'RobotoCondensed Regular', sans-serif;
        color: #FF8400;
        cursor: pointer;
    }

    &__phone {
        margin-top: 21px;
        text-decoration: none;
        font-family: 'RobotoCondensed Bold', sans-serif;
        color: #FFFFFF;
        font-size: 32px;
        line-height: 24px;
        cursor: pointer;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 16px;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FFFFFF;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: 6px 6px;
        background-position: center center;
        cursor: pointer;
    }
}

.__visible {
    transform: translateX(0);
    visibility: visible;
    pointer-events: all; 
}

