.footer {
    border-top: 1px solid #C9C9C9;
    padding: 47px 0 67px 0;

    @media (max-width: 770px) {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    &__row {
        display: flex;
        justify-content: space-between;

        @media (max-width: 770px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        text-decoration: none;
        font-family: 'Roboto Black', sans-serif;
        color: #FF8400;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
    }

    &__name {
        color: #121214;
    }

    &__phone {
        text-decoration: none;
        font-family: 'RobotoCondensed Bold', sans-serif;
        color: #000000;
        font-size: 24px;
        line-height: 24px;

        @media (max-width: 770px) {
            margin-top: 25px;
        }
    }

    .navigation {
        @media (max-width: 960px) {
            display: none;
        }
    }
}

