
.header {
    box-sizing: border-box;
    //padding: 20px 0;
    height: 64px;
    display: block;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    z-index: 20;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__row {
        display: flex;
        width: 100%;
        align-self: stretch;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
    }

    &__logo {
        text-decoration: none;
        font-family: 'Roboto Black', sans-serif;
        color: #FF8400;
        text-transform: uppercase;
        margin-right: 150px;

        @media (max-width: 1140px) {
            margin-right: 0;
        }
    }

    &__name {
        color: #121214;
    }

    &__right {
    }

    &__order {
        text-decoration: none;
        font-family: 'RobotoCondensed Regular', sans-serif;
        color: #FF8400;
        margin-right: 30px;

        @media (max-width: 770px) {
            display: none;
        }
    }

    &__phone {
        text-decoration: none;
        font-family: 'RobotoCondensed Bold', sans-serif;
        color: #000000;

        @media (max-width: 770px) {
            display: none;
        }
    }

    .navigation {
        @media (max-width: 1140px) {
            display: none;
        }
    } 
}

